<div class="overlay" *ngIf="isVisible" (click)="onClose.emit()">
  <div class="modal" (click)="$event.stopPropagation()">

    <app-modal-header [title]="title" [date]="date" />

    <app-image-viewer
      [currentPhoto]="currentPhoto"
      [imageLoaded]="imageLoaded"
      [hasNav]="photos.length > 1"
      (imageLoadedEvent)="onImageLoad()"
      (openGallery)="openGallery($event)"
      (prev)="prev()"
      (next)="next()"
    />

    <app-thumbnail-carousel
      [photos]="photos"
      [currentIndex]="currentIndex"
      (goTo)="goTo($event)"
    />

    <app-description [html]="description" />

    <app-external-link
      [link]="link"
      [spotId]="spotId"
    />

    <app-close-button (click)="onClose.emit()" />

  </div>
</div>
