#map {
    width: 100vw;
    height: 100vh;
  }
  
  .travel-spot-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    user-select: none;
    transform: translate(-50%, -100%); /* center bottom */
  }