/* Add this at the very top of styles.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  /* Global font styling */
body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #222;
  line-height: 1.6;
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
}

.pswp img {
  max-width: none;
  object-fit: contain;
}