.modal-header {
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    width: 80%;
    align-self: center;
  }
  
  .spot-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #424242;
  }
  
  .spot-date {
    margin: 0;
    padding: 5px;
    font-size: 0.9rem;
    color: #777;
  }
  